*
{
  box-sizing: border-box;
}

body{
  margin: 0px;
}

header{
  background-color: rgb(211, 211, 211);
text-align: center;
padding: 25px;
}

.navbar{
  background-color: black;
  height:50px

}
aside{
  width: 20%;
  float: left;
  padding: 10px;

}
sectiom{
  width: 40%;
  float: left;
  
}
article{
  width: 40%;
  float: left;
  
}
footer{
  display: black;
  clear: both;
  background-color: rgb(211, 211, 211);
text-align: center;
padding: 25px;
}
@media screen and (max-width:600px){
  aside,section,article{width: 100%;}
}
